<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <filter>
  <display-name>jsonp</display-name>
  <filter-name>jsonp</filter-name>
  <filter-class>org.jsonp.JsonpFilter</filter-class>
  <init-param>
   <param-name>jsonp</param-name>
   <param-value>jsonpCallback</param-value>
  </init-param>
  <init-param>
   <param-name>json-mime-types</param-name>
   <param-value>application/json, application/x-json, text/json, text/x-json</param-value>
  </init-param>
 </filter>
 <filter-mapping>
  <filter-name>jsonp</filter-name>
  <url-pattern>*</url-pattern>
 </filter-mapping>
 <mime-mapping>
  <extension>json</extension>
  <mime-type>application/json</mime-type>
 </mime-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
